{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module",
        "ecmaFeatures": {
            "impliedStrict": true
        },
        "project": "./tsconfig.json"
    },
    "extends": [
        "plugin:@typescript-eslint/recommended", //  Use the recommended rules from the @typescript-eslint/eslint-plugin
        "prettier",
        "plugin:prettier/recommended" // Enables eslint-plugin-prettier and eslint-config-prettier
    ],
    "rules": {
        "prettier/prettier": "error",
        "no-var-require": "off",
        "no-console": "off",
        "no-bitwise": "off",
        "sort-imports": "warn",
        "quotes": ["error", "single"],
        "max-len": ["error", 120],
        "@typescript-eslint/no-inferrable-types": "off",
        "@typescript-eslint/ban-types": "off"
    },
    "ignorePatterns": [
        "commitlint.config.js"
    ]
}
